<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Aqui vai meu título </h1>


     <p>

      Opa, {{nome}} {{lastname}} seja bem vindo!!!

      {{#mostrarIdade}}
      Você é maior de idade
      {{/mostrarIdade}}

      <hr/>

      Produtos
      <ul>
      {{#produtos}}
      <li>{{titulo}} $ {{preco}} </li>
      {{/produtos}}
     </ul> 

     </p>


    



</body>
</html>l